.App {
  text-align: left;
  margin-left: 3%;
  margin-right: 3%;
}
a{
  text-decoration: none;
}
.author{
  color: black;
  font-weight: 500;
}
#search-result{
  width: 80%;
  /* border: 1px solid red; */
  margin: 10px 10px 0px 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.search-box{
  margin-top: 0%;
  width: 40%;
  height: 20px;
}
.MainSearch{
  text-decoration: none;
  color: black;
  border: 2px solid black;
}
.Navbar{
  margin-top: 1%;
  width: 80%;
  height: 20px;
}
.Button{
  margin-top: 2%;
}
.imageLogo{
  margin-top: 10%;
  width: 20%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
